html {
    scroll-behavior: smooth
}

body {
    font: system-ui, sans-serif;
    font-size: 14px;
    min-height: 300px;
    min-width: 300px;
    background-color: #189BD6;
}

.row-full-height {
    height: 100vh;
}

.map {
    width: 100%;
    height: 100%;
    background-color: #189BD6;
}

.thumbnail {
    width: 70px;
    height: 70px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

#list-container {
    overflow: scroll;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

@media only screen and (min-device-width: 768px) {
    .center-dt {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
}

#footer {
    /* position: fixed; */
    /* 
    
    height: 50px; */
    padding: 15px auto;
    border-radius: 4px;
    background-color: #189BD6;
    color: white;
    /* color: white;
    text-align: center;
    padding-top: 10px; */
    /* change link color to white too! */
    width: 100%;
    bottom: 0;
}

#footer a {
    color: white;
}


/* Set the size of the div element that contains the map */

#map {
    height: 700px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 20%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.hebrew {
    direction: rtl;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.english {
    direction: ltr;
}


/* container span */

.logo-cont {
    text-align: center;
    display: block;
}


/* image itself */

#logo {
    object-fit: contain;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}